name: Deploy Minimal API con Docker Compose

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on:
      - self-hosted
      - linux
      - devops-class

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Detener contenedores existentes
        run: |
          docker compose down || true

      - name: Construir y levantar servicios
        run: |
          docker compose up -d --build

      - name: Esperar a que los servicios estén listos
        run: |
          sleep 10

      - name: Verificar servicios corriendo
        run: |
          docker compose ps
          docker logs mi-api-container-6-1 --tail 50

      - name: Probar API
        run: |
          curl -f http://localhost:5000/swagger/index.html || echo "Swagger aún no responde"
