name: Despliegue en Servidor Local

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
    - name: Obtener código
      uses: actions/checkout@v4

    # --- CAMBIO IMPORTANTE AQUÍ ---
    - name: Construir imagen Docker
      working-directory: ./6-1  # <--- MAGIA: Nos paramos en la carpeta correcta
      run: |
        # Ahora el comando es simple y limpio, porque ya estamos dentro
        docker build -t mi-minimal-api .

    - name: Detener contenedor anterior (si existe)
      run: |
        docker rm -f api-container || true

    - name: Levantar nuevo contenedor
      run: |
        # Ejecutar el contenedor nuevo
        docker run -d \
          -p 8080:8080 \
          --name api-container \
          --restart always \
          --network mi-red-auth \
          -e ASPNETCORE_ENVIRONMENT=Development \
          -e "ConnectionStrings__DefaultConnection=Server=sqlserver-curso;Database=AuthDb;User Id=sa;Password=IngBlckBeast7!;TrustServerCertificate=True;" \
          mi-minimal-api
