name: Despliegue en Servidor Local

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
    - name: Obtener código
      uses: actions/checkout@v4

    # --- CORRECCIÓN AQUÍ ---
    - name: Construir imagen Docker
      run: |
        # Usamos rutas explícitas para evitar errores de 'cd'
        # -f : Indica dónde está el Dockerfile
        # ./6-1 : Indica qué carpeta usar como contexto (donde está el código)
        docker build -f 6-1/Dockerfile -t mi-minimal-api ./6-1

    - name: Detener contenedor anterior (si existe)
      run: |
        docker rm -f api-container || true

    - name: Levantar nuevo contenedor
      run: |
        docker run -d \
          -p 8080:8080 \
          --name api-container \
          --restart always \
          --network mi-red-auth \
          -e ASPNETCORE_ENVIRONMENT=Development \
          -e "ConnectionStrings__DefaultConnection=Server=sqlserver-curso;Database=AuthDb;User Id=sa;Password=IngBlckBeast7!;TrustServerCertificate=True;" \
          mi-minimal-api
